<!DOCTYPE html>
<html>
  <head>
    <title>Flickr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav ">
        <% if current_user %>
          <%= current_user.email %> |
          <%= link_to "Sign out", destroy_user_session_path, method: 'delete' %> |
          <%= link_to 'Edit Profile',edit_user_registration_path %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> | <%= link_to "Sign in", new_user_session_path %>
        <% end %>
      </ul>
    </div>



    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
